.priceSelector{
  height: 100%;
  width: 100%;
  border: var(--border-width) solid var(--using2);
  border-radius: var(--border-radius);
  background: var(--using1);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 2px;
  padding-inline: 2px;
  align-items: center;
  .values{
    display: flex;
  }
  div{
    width: 100%;
    height: 100%;
    position: relative;

    input{
      width: 100%;
      border:none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      background: transparent;
    }

    .rangeslider__handle{
      pointer-events: all;
      z-index: 2;
    }
  }
  
}