/*--------------------------------------------------NOTIFICATIONS---------------------------------------*/

.notification-item {
  display: flex;
  align-items: start;
  width: 100%;
  flex-direction: column;

  padding: 5px;
  padding-bottom: 2px;
  margin: var(--margin-small) 0;
  border-radius: var(--border-radius);;
  background: white;
}


.notification-item input{
  background: white;
  width: 100%;
  border: 1px solid var(--using2);
  color: var(--using3);
  padding: 5px 3px 5px 10px;
  margin: var(--margin-small) 0;
}
.notification-item .input{
  width: 100%;
  border-radius: var(--border-radius);
  padding: var(--border-radius);
  margin-block: 6px;
  font-weight: 500;
  border: 1px solid var(--using2);
}
.notification-item .sendAnswer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.notification-item .sendAnswer .send{
  
  height: calc(26px);
  width: 25px;
  background: var(--using4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin: 0;
  cursor: pointer;
}
.notification-item .sendAnswer .send img{
  height: 100%;
}
.notification-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  
}
.notification-content div{
  width: 100%;
  text-align: center;
  padding-left: 8px;
}
.notification-content div h2{
  text-align:start;
  font-weight: 500;
  font-size: var(--font-size-large);
}
.notification-content img{
  aspect-ratio: 2 / 3;
  height: 70px;
}

.downNotification{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.downNotification span{
  color: var(--using2);
  font-size: var(--font-size-medium);
}
.notification-date {
  font-size: var(--font-size-small);
  color: #888;
}

.notification-link {
  color: #007bff;
  text-decoration: none;
}

.notification-link:hover {
  text-decoration: underline;
}