/node_modules/
/assets/config.js
.env
.env.prod
/controllers/users/req.body.txt
/controllers/users/transactionResponseSample.txt

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
dist/
# data
data/
/data/ say.env
.env
