.footerInfo{
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: var(--padding-medium) var(--padding-xlarge);
  padding-right: 70px;
  gap: var(--margin-medium);
}
@media only screen and (max-width: 734px) {
  .footerInfo{
    flex-direction: column;
    align-items: start;
    font-size: var(--font-size-large);
    padding-bottom: var(--padding-large);
  }
  
}
.footerInfo span, .footerInfo a{
  font-size: var(--font-size-large);
}

.footerInfo div,
.footerInfo a {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
.footerInfo .allRightsReserved{
  width: 30vw;
}