
/*--------------------------------------CHECKOUT----------------------------------------------*/

.checkoutContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: var(--margin-large) auto;
  padding: 20px;
  width:min(1000px, calc(100vw - 10px));
  background: var(--using1);
  border: 1px solid var(--using4);
  border-radius: var(--border-radius);;
}
.checkoutContainer .cardContainer{
  width:100%;
  background: var(--using1);
  padding-left: 50px;
  box-shadow: none;
}
.checkoutContainer .cardContainer button{
  display: none;
  
}
.checkoutContainer button{
  width: 120px;
  background: white;
  color: var(--using4);
  border: 1px solid var(--using4);
  transition: all .2s ease-in-out;
  margin-top: 20px;
}
.checkoutContainer button:hover{
  background: var(--using4);
  color: white;
}
.checkoutContainer .inputCrear {
  width: 100%;
}

.checkoutContainer .inputCrear div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Add spacing between select and input */
}

.checkoutContainer .inputCrear select,
.checkoutContainer .inputCrear input {
  width: 100%;
  height: 100%; /* Ensure consistent height */
  background: var(--using1);
  color: var(--using3);
  border: 2px solid var(--using2);
  border-radius: var(--border-radius);
  font-size: var(--font-size-medium);
  font-family: inherit;
  padding: var(--padding-small);
  box-sizing: border-box;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;


}
.checkoutContainer .inputCrear select{
  width: 10ch;

}
.checkoutContainer select{
  padding-inline: 0;
  min-height: var(--font-size-large);
}
.checkoutContainer .error{
  width: 100%;
  margin-top: var(--margin-medium);
}
.checkoutContainer .buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--margin-medium);
  margin-top: var(--margin-medium);
}
.paymentMethodsContainer{
  width: auto;
  max-width: 100%;
  margin: auto;
  padding: auto;
  text-align: left;
  
}

#statusScreenBrick_container{
  margin: var(--margin-big) auto;
  border: 2px solid #737373;
  border-radius: 18px;
}

.paymentMethods {
  margin: var(--margin-medium) 0;
  width: 500px;
  height: auto; /* Allow the container to fit its contents */
  display: flex;
  gap: 10px; /* Add consistent spacing between items */
  padding: 2px; /* Add some padding inside the container */
  align-items: center; /* Vertically align items in the center */
  text-align: center;

}
.paymentMethodsContainer button{
  margin: 0;
}
.paymentMethodsContainer .svelte-101ibq7.mp-checkout-bricks__padding-3h33cf.extra-large-3dfJos{
  display: none;
}
.paymentMethodsContainer .svelte-r6lpve.mp-checkout-bricks__padding-b6ZkS2.extra-extra-large-3m8Ked{
  display: none;
}
.paymentMethodsLabel{
  font-size: var(--font-size-large);

}

.paymentMethods div {
  width: 100px; /* Adjust width to make items smaller */
  height: 80px; /* Let height be dynamic based on content */
  padding: 5px 10px; /* Add padding for inner spacing */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--using2);
  border-radius: var(--border-radius);
  cursor: pointer;
}
.paymentMethods div.activePaymentMethod{
  border: 2px solid var(--using3);
}
.paymentMethods div img {
  width: 40px; /* Adjust width to make images smaller */
  height: auto; /* Ensure image maintains aspect ratio */
  margin-bottom: 5px; /* Add some space below the image */
}
.gridTarjeta{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap:20px;
}
.gridTarjeta .tarjetaContainer, .gridTarjeta .tarjetaLlenar{
  width: 100%;
  
}
.gridTarjeta .tarjetaContainer{
  margin: var(--margin-big);
  padding: 20px;
  width: 100%;
  aspect-ratio: 1.586;

  background: var(--using4);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.gridTarjeta .tarjetaContainer div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color:var(--using1);
  align-items: center;
}
.gridTarjeta .tarjetaContainer div img{
  height: 30px;
}
.gridTarjeta .tarjetaContainer div span{
  font-size: var(--font-size-large);
}
.gridTarjeta .tarjetaContainer #UIcardExpiryDate{
  font-size: var(--font-size-large);
}
.gridTarjeta .tarjetaContainer #UIcardNumber{
  margin: auto;
  font-size: var(--font-size-xlarge);
  font-weight: 400;
}
.payWithBalance{
  width: calc(100% - 30px);
  min-width: 300px;
  margin: auto;
  padding: 18px;
  border: 1px solid #E5E5E5;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

}

.payWithBalance .imageLogoContainer{
  height: 55%;
  margin-inline: 16px;
  width: 40px;
  height: 40px;
  aspect-ratio: 1 / 1;
  border: 1px solid #E5E5E5;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.payWithBalance div h2{
  font-size:15px;
}
.payWithBalance h3{
  font-size: var(--font-size-small);
  color: #737373;
}
.payWithBalance input{
  all: unset;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  border: 2px solid #BFBFBF;
  position: relative;
}
.payWithBalance input.active{
  border-color: #009EE3;
}
.payWithBalance input::before{
  content: '';
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  margin: 2px;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

.payWithBalance input.active::before{
  background: #009EE3;
}
.payWithBalance input:hover{
  border-color: #009EE3;
  &::before{
    background: #009EE3;
    opacity: 0.5;
  }
}
