
/*------------------------------------------------buscar----------------------------------------------------------*/


.resultadosContainer{
  width:100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  transition: all .3s ease-in-out;
  padding: var(--padding-medium);
}

.noMargen{
  margin: var(--margin-medium) 0 0 0;
}


.masFiltros *{
  font-size:2rem;
  
}
.masFiltros div{
  background: white;
}
.wrapper{
  width: 400px;
  background: #fff;
  border-radius: var(--border-radius);;
  padding: 20px 25px 40px;
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
}

.price-input{
  width: 100%;
  display: flex;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}



.masFiltros select{
  border: 1px solid var(--using2);
  background: white;
  
  color: black;
  border-radius: var(--border-radius);
}
.masFiltros input{
  border: 1px solid var(--using2);
  background: white;
  color: black;
  border-radius: var(--border-radius);
  padding: 5px 10px;
}
.resultadosContainer .setSearchKind{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--margin-xsmall)
}

.resultadosContainer .setSearchKind div{
  width: 11ch;
  border: 2px solid var(--using4);
  background: var(--using1);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-xsmall);
  margin-block: var(--margin-medium);
  cursor: pointer;
  transition: all var(--animation-timing) ease-in-out;
}
.resultadosContainer .setSearchKind div:hover{
  background: var(--using4);
  color: var(--using1);
}

.resultadosContainer .separar{
  width: min(1000px, calc(100vw - 2 * var(--margin-large)));
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--margin-xsmall)
}

.ordenarPor{
  border: 2px solid var(--using2);
  padding: 5px 10px;
  color:var(--using3);
  border-radius: var(--border-radius);;
  cursor: pointer;
  
}
.layout{
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout svg{
  color: var(--using3);
  cursor: pointer;
}
.ordenarPor svg{
  color:var(--using3)
}

.resultadosContainer .resultados{
  display: flex !important;
  justify-content: center;
  align-items: stretch; /* Ensures all items have the same height */
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  flex: 1;
  margin: 0;
  gap: var(--margin-medium)
}
.resultadosContainer .resultados .cardContainer{
  margin: 0;
  flex: 1 1 calc(33.33% - 10px);
  display: flex;
  border: none;
}
.resultadosContainer .resultados .cardContainer.oneFr{
  
  max-width: 60ch;
  height: 100%; /* Ensures consistent height */
  min-height: 100%;
}
@media only screen and (max-width: 734px) {
  .resultadosContainer .resultados .cardContainer.oneFr{
    width: calc(100vw - 2 * var(--margin-medium));
    margin: 0;
  }
  
}

.numberPages{
  width:100%;
  color: var(--using3);
  display:flex;
  justify-content:center;
  align-items:center;
}
.numberPages *{
  margin: 0 5px;
}
.numberPages *:hover{
  cursor: pointer;
  
}



.projectsContainer .accProjects{
  
  background-color: var(--using2);
  width:auto;
  height:auto;
  display:flex;
  justify-content: space-between;
  position: relative;
}
.resultadosContainer > a {
  height: 100% !important; /* Ensures all elements take the same height */
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

resultadosContainer .sectionElement.userElement {
  height: 100% !important; /* Ensures consistent height */
  min-height: 100% !important;
  aspect-ratio: auto !important; /* Removes fixed aspect ratio */
  padding: var(--padding-medium);
}

.resultadosContainer .sectionElement .imageUserElementContainer {
  width: 60%;
  margin-block: 10px;
  height: auto; /* Adjust height dynamically */
}

.resultadosContainer .sectionElement .imageUserElementContainer img {
  width: 100%;
  height: auto; /* Ensures the image scales proportionally */
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: var(--border-radius) solid var(--using2);
}

.filtersContainer{
  width: min(1000px, calc(100vw - 2 * var(--margin-large)));
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
.filtersContainer .inputs{
  margin-block: var(--margin-medium);
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 3fr 3fr 1fr;
  place-items: center;
  gap: var(--margin-small);
  .querySelector{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    input {
      width: 100%;
    }
  }
  .locationSelector{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--using1);
    align-items: center;
    border: var(--border-width) solid var(--using2);
    border-radius: var(--border-radius);
    cursor: pointer;
    position: relative;
    svg{

      all: unset;
      position: absolute;
      top: 50%;
      right: var(--margin-xsmall);
      transform: translateY(-50%);
      stroke: black;
      height: calc(100% - 2 * var(--padding-xsmall));
      aspect-ratio: 1/1;
    }
    
  }
  button{
    width: 100%;
  }
}
.popUp{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  border: var(--border-width) solid var(--using2);
  border-radius: var(--border-radius);
  background: var(--using1);
  width: min(1000px, calc(100vw - 2 * var(--margin-large)));
  height: min(800px, calc(100vh - 2 * var(--margin-large)));
  z-index: 10000;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: var(--border-width);
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  svg{
    all: unset;
    stroke: black; /* Explicitly set stroke after unset */
    position: absolute;
    top: var(--margin-medium);
    right: var(--margin-medium);
    cursor: pointer;
    color: var(--using3) !important;
  }
  & > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--using1);
    border-radius: var(--border-radius);
    &.selectLocation > div, 
    &.selectLocation > button{
      width: 80%;
      border: var(--border-width) solid var(--using2);
      border-radius: var(--border-radius);
      margin: var(--margin-small);
      padding: var(--padding-xsmall);
      transition: all var(--animation-timing) ease-in-out;
      cursor: pointer;
      &:hover, &.active{
        background: var(--using4);
        color: var(--using1);
      }
      
    }
    &.selectLocation > .getLocation{
      background: var(--using7);
    }
    &.locationView{
      width: 80%;
      height: 40%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      overflow: auto;
      padding: none;
      border: var(--border-width) solid var(--using2);
      & > div{
        width: 100%;
        font-size: var(--font-size-large);
        cursor: pointer;
        transition: all var(--animation-timing) ease-in-out;
        
        &:hover{
          background: var(--using4);
          color: var(--using1);
        }
      }
   }
  }
}
.filtersContainer .filtersToApply{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  min-height: 5ch;
  
}
.filterOptions{
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap: wrap;
  z-index: 1000;
  gap: var(--margin-medium) 0;
  

}
.filterWrapper{

  height: calc(var(--font-size-medium) + 2 * var(--padding-medium) + 2px);
  width: 20ch;
  padding: var(--padding-small);
  .filters{
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    outline: var(--border-width) solid var(--using4);

    height: calc(var(--font-size-medium) + 2 * var(--padding-small));
    background: var(--using1);
    border-radius: var(--border-radius);
    transition: all var(--animation-timing) ease-in-out;
    .filterOption{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-inline: var(--margin-xsmall);
      border-bottom: var(--border-width) solid var(--using2);
      min-height: calc(var(--font-size-medium) + 2 * var(--padding-small) + 2px);
      cursor: pointer;
      &.choosen{
        background: var(--using4);
        color: var(--using1);
      }
    }
  }
  &:hover .filters{
    height: calc(var(--font-size-medium) * 5 + 2 * var(--padding-small));
  }
  .filters::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
}
.filtersContainer .filtersToApply .filter{
  background: var(--using4);
  color: var(--using1);
  border-radius: var(--border-radius);
  padding: var(--padding-small);
  margin: var(--margin-xsmall);
  margin-bottom: none;
  cursor: pointer;
  transition: all var(--animation-timing) ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--margin-xsmall);
  &:hover{
    background: var(--using1);
    color: var(--using4);
  }
}
.filtersContainer .filtersToApply .remove{
  color: var(--using3);
  border: var(--border-width) solid var(--using3);
  border-radius: var(--border-radius);
  padding: var(--padding-xsmall);
  margin: var(--margin-xsmall);
  cursor: pointer;
  transition: all var(--animation-timing) ease-in-out;
  &:hover{
    background: var(--using3);
    color: var(--using1);
  }
}