/*----------------------------------SECTIONS-FILTERS------------------*/
.sectionsBigContainer > h1, 
.sectionsBigContainer > h2{
    text-align: left;
    margin-top: var(--margin-medium);
    margin-left: var(--padding-medium);
  

}
  
.sectionsContainer{
  display: flex;
  justify-content: start;
  overflow-x: auto;
  gap: var(--margin-xsmall);
  /* gap:var(--margin-small); */
  align-items: stretch; /* Asegúrate de que todos los elementos tengan la misma altura */
  min-height: calc(var(--font-size-large) * 4);
  margin: var(--padding-medium);
  height: auto;
  isolation:isolate;
  position:relative;
  color:var(--using1);
}

.sectionElement{
  border: var(--border-width) solid var(--using2);
  border-radius: var(--border-radius);
  /* border-radius: var(--border-radius); */
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 100%;

  min-width: 25ch;
  max-width: 25ch;
  background: var(--using1);
  padding: var(--padding-xsmall);
  cursor: pointer;
  color:var(--using3);
  /* padding: 5px; */
  
}
.sectionElement.placeholder {
  --animation-duration: 3s;
  background: var(--using1);
  border: var(--border-width) solid gray;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-width: 25ch;
  max-width: 25ch;
  min-height: calc(var(--font-size-large) * 4);


  div {
    border-radius: var(--border-radius);
  }

  .imageElementContainer {
    width: 70%;
    aspect-ratio: 2 / 3;
    margin: var(--margin-small) auto;
    border-radius: var(--border-radius);
    background: var(--color);
    animation: movingColorAnimation var(--animation-duration) infinite ease-in-out;
  }

  .sectionElementTextDiv {
    width: 100%;
    padding: var(--padding-small);
    margin: var(--margin-small) auto;
    height: var(--font-size-large);
    background:var(--color);
    animation: movingColorAnimation var(--animation-duration) infinite ease-in-out;
  }

  .textPlaceholder {
    height: var(--font-size-medium);
    width: 80%;
    padding: var(--padding-xsmall);
    margin: var(--margin-small) auto;
    background: var(--color);
    animation: movingColorAnimation var(--animation-duration) infinite ease-in-out;
  }
}

@keyframes movingColorAnimation {
  0% {
    background: gray;
  }
  50% {
    background: lightgray;
  }
  100% {
    background: gray;
  }
}
.viewMore,
.viewMore > *{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 10ch;
  width: 100%;
  color: black;
}
.sectionElement h2{
  text-align: center;
  margin-top: var(--margin-small);
}
.sectionElement h3{
  text-align: center;
}
.sectionsContainer .precioSections{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--padding-xsmall);
}
.sectionsContainer .precioSections h2{
  color: var(--using6);
  margin: 0;
}

/* Resto de los estilos */
.sectionElement .bookLabel{
  width:100%;
  padding:1px 0;
  background: var(--using4);
  color:var(--using1);
  filter: opacity(0.9);
  text-align: center;
}
.sectionElement div{
  width: 100%;
}
.sectionElement .imageElementContainer{
  
  width:70%;
  height: 100%;
  aspect-ratio: 2 / 3;
  margin:0 auto;
  position: relative;
  background-position: center;
  background-size: contain;
  border-radius: var(--border-radius);
  border: 1px solid var(--using2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; 
}

.sectionElement .sectionElementTextDiv{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1; /* Allow the div to grow and fill the remaining space */
  width: 100%; /* Ensure it spans the full width */
  height: auto; /* Let the height adjust based on content */
}
.sectionElement .fastInfoElement{
  background: var(--using4);
  width: auto;
  margin: auto;
  border-radius: var(--border-radius);;
  padding: var(--padding-small);
  color: var(--using1);
}
.sectionElement .extraInfoElement{
  width: calc(100% - var(--margin-medium));
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionElement .extraInfoElement svg{
  width: var(--font-size-large);
  height: var(--font-size-large);

}
.sectionElement .extraInfoElement .fastInfoElement{
  margin-inline: var(--margin-xsmall);
}
.sectionElement .favoritos {
  
  fill: none;

}

.sectionElement .favoritos.favoritoActivo {
  fill: var(--using6) ;
  
}

.sectionElement .favoritos.favoritoActivo path{
  stroke: none;
}
.sectionElement .editarOEliminar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}