/*----------------------------------SECTIONS-FILTERS------------------*/
.sectionsBigContainer{
  h1, h2 {
    text-align: left;
    margin-top: var(--margin-medium);
    margin-left: var(--padding-medium);
  }

}
  
.sectionsContainer{
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
  gap: var(--margin-xsmall);
  /* gap:var(--margin-small); */
  align-items: stretch; /* Asegúrate de que todos los elementos tengan la misma altura */
  min-height: calc(var(--font-size-large) * 4);
  margin: var(--padding-medium);
  height:auto;
  isolation:isolate;
  position:relative;
  color:var(--using1);
}

.sectionsContainer .sectionElement{
  border: var(--border-width) solid var(--using2);
  border-radius: var(--border-radius);
  /* border-radius: var(--border-radius); */
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  min-width: 20ch;
  background: var(--using1);
  padding: var(--padding-xsmall);
  cursor: pointer;
  color:var(--using3);
  /* padding: 5px; */
  
}
.sectionsContainer .viewMore,
.sectionsContainer .viewMore > *{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 10ch;
  width: 100%;
  color: black;
}
.sectionsContainer .sectionElement h2{
  text-align: center;
  margin-top: var(--margin-small);
}


.sectionsContainer .precioSections h2{
  color: var(--using6);
  margin: 0;
}

/* Resto de los estilos */
.sectionsContainer .sectionElement .bookLabel{
  width:100%;
  padding:1px 0;
  background: var(--using4);
  color:var(--using1);
  filter: opacity(0.9);
}
.sectionsContainer .sectionElement div{
  width: 90%;
}
.sectionsContainer .sectionElement .imageElementContainer{
  
  width:90%;
  height: 100%;
  aspect-ratio: 2 / 3;
  margin:0 auto;
  position: relative;
  background-position: center;
  background-size: contain;
  border-radius: var(--border-radius);
  border: 1px solid var(--using2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; 
}

.sectionsContainer .sectionElement .sectionElementTextDiv{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1; /* Allow the div to grow and fill the remaining space */
  width: 100%; /* Ensure it spans the full width */
  height: auto; /* Let the height adjust based on content */
}
.sectionsContainer .sectionElement .fastInfoElement{
  background: var(--using4);
  width: auto;
  margin: auto;
  border-radius: var(--border-radius);;
  padding: var(--padding-small);
  color: var(--using1);
}
.sectionsContainer .sectionElement .extraInfoElement{
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionsContainer .sectionElement .extraInfoElement .fastInfoElement{
  margin-inline: var(--margin-xsmall);
}
.sectionsContainer .favoritos {
  
  fill: none;

}

.sectionsContainer .favoritos.favoritoActivo {
  fill: var(--using6) ;
  
}

.sectionsContainer .favoritos.favoritoActivo path{
  stroke: none;
}
