
/*----------------------------------------------VERIFICAR--------------------------------------------------------*/
.verifyContainer{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: min(500px, 60vw);
  height: 60dvh;
  padding: var(--padding-large);
  border-radius: var(--border-radius);
  box-shadow: 0 0 5px var(--using3);
  background: var(--using1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.verifyContainer .imageDiv{
  width: min(500px, 60vw);
  aspect-ratio: 16 / 9;
  overflow: hidden;
}
.verifyContainer .imageDiv img{
  height: 100%;

}
.verifyContainer .codeInputContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verifyContainer .codeInputContainer .codeInput{
  height: calc(var(--font-size-large));
  width: 100%;
  min-width: 40px;
  border: 1px solid var(--using2);
  margin: 0;
  border-radius: var(--border-radius);
  background: white;
  color: var(--using3);
  font-size: var(--font-size-large);
  text-align: center;
}
.verifyContainer p{
  font-size: var(--font-size-medium);
}
.verifyContainer a{
  color: var(--using4);
  margin-top: 15px;
  font-size: var(--font-size-large);
  cursor: pointer;
  
}
.verifyContainer button{
  width: auto;
  padding-inline: var(--padding-small);
}
.verifyContainer .error{
  color: red;
}
.verifyContainer h2{
  font-size: var(--font-size-xlarge);
}
/*-------------------------------------------------CAMBIAR CONTRASEÑA------------------------------------------*/

.cambiarContraseñaDiv form{
  display: flex;
  width: auto;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: auto;
  .input-field{
    width: 40ch;
    display: flex;
    justify-content: center;
    align-items: center;

    height: var(--font-size-xlarge) ;
    gap: var(--margin-small);
    margin: var(--margin-small);
    input{
      margin:0;
      padding: var(--padding-small) var(--padding-small);
    }
  }
  button{
    height: var(--font-size-xlarge) ;
    padding: 0 var(--padding-large);
    margin: var(--margin-small);
  }
}

.cambiarContraseñaDiv .strengthMeter{
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cambiarContraseñaDiv .strengthMeter div{
  width: fit-content;
}

.cambiarContraseñaDiv .success{
  color: #4BB543;
}




.opaqueBackground{
  position: absolute;
  width: 100vw;
  height: 100vw;
  inset: 0;
  background: #f5f7f6;
  filter: blur(0.1);
  z-index: 1;
}
.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50%));
  z-index: 2;
}