/*----------------------------------------ENCABEZADO--------------------------------------------------*/


header{
  position: relative;
  inset:0;
  width:100vw;
  z-index: 1000;
  height:calc(var(--font-size-large) * 4);
  display:flex;
  justify-content: space-between;
  padding-inline: var(--padding-large);
  flex-wrap: nowrap;
  align-items: center;
  font-size: var(--font-size-medium);
  text-align: center;
  color:var(--using3);
}
header::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
  background: white;
  filter: opacity(0.95);
}

.headerIzq,.headerCen, .headerDer{
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width:auto;
  text-align: center;
}
.headerIzq{
  cursor: pointer;
}
.headerIzq div {
  display: flex;
  align-items: center;
}
.headerIzq h1{
  font-size: var(--font-size-xlarge);
}
.headerIzq img{
  height:calc(var(--font-size-large) * 1.6 * 1.6);
  aspect-ratio: 1/1;
  margin-right: var(--margin-small);
}
.headerCen{
  width: 30vw;
  margin: auto;
}


.indice p{
  text-decoration: none;
  color:inherit;
  transition: all var(--animation-timing) ease-in-out;
  
}
.indice p:hover{
  text-decoration: underline;
  transform: scale(1.1);
}
.headerDer{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.resultsContainer{
  width: 100%;
  max-width: 40rem;
  transform:translateY(20px);
  z-index: 1000;
  
}
.resultsContainer .result{
  width: 100%;
  background-color: var(--using5);
  color: var(--using3);
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: var(--padding-small);
  height:90px;
  border: var(--border-width) solid var(--using2);
}
.result:not(.result:first-of-type){
  border-top: none;
}
.result-photo {
  height: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: var(--border-radius);
  margin-right: var(--margin-medium);
}

.result-info {
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  
}

.result-info h2{
  text-align: left;
}

.see-more {
  text-decoration: none;
  width: 80px;
  margin-left: auto;
  color: var(--using1);
  background: var(--using4);
  font-weight: 700;
  padding: var(--padding-small);
  border-radius: var(--border-radius);
  transition: all .2s ease-in-out;

}

.see-more:hover {
  text-decoration: underline;
  transform: scale(1.05);
}


header .headerDer .searchButton{
  all: unset;
  width: auto;
  height: var(--font-size-xlarge);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: var(--margin-medium);
}

header .searchButton input {
  border: var(--border-width) solid var(--using2);
  border-right: none;
  padding: 0;
  padding-left: var(--padding-medium);
  border-radius: var(--circular-radius) 0 0 var(--circular-radius) ; /* Round corners on the left side */
  font-size: var(--font-size-medium);
  width: 15ch; 
  height: 100%;
  text-align: left;
  background-color: var(--using1);
  z-index: 1001;
  transform: translateX(var(--border-width));
}

header .searchButton input :focus{
  border: none;
}
header .searchButton button  {
  outline: var(--border-width) solid var(--using2);
  height: 100%;
  background-color: var(--using4); /* Dark blue color */
  padding: var(--padding-small);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0 var(--circular-radius) var(--circular-radius) 0; /* Round corners on the right side */
  position: relative;
  isolation: isolate;
  transition: all var(--animation-timing) ease-in-out;
}
header .searchButton button svg{
  color: var(--using1);
  height: calc(var(--font-size-large) * 0.8);
  width: calc(var(--font-size-large) * 0.8);
  margin-left: calc(1.5vw);
}
header .headerDer .searchButton button::before,
header .headerDer .searchButton button::after{
  content: "";
  position: absolute;
  left: 0;
  background-color: var(--using1);
  height: 50%;
  aspect-ratio: 1/1;
}
header .headerDer .searchButton button::before{
  border-radius: 0 var(--circular-radius) 0 0;
  top: 0;
}
header .searchButton button::after{
  border-radius: 0 0 var(--circular-radius) 0;
  bottom: 0;
}
header .searchButton button:hover {
  background-color: var(--using7); /* Slightly darker blue on hover */
  cursor: pointer;
}
header .profile, .heart, .notification, .hamburger{
  margin: auto var(--margin-medium);
  height: var(--font-size-large);
  width: var(--font-size-large);
}

header .profile img{
  height: 100%;
  border-radius: 50%;
}
header .notification{
  position: relative;
  isolation: isolate;
  cursor: pointer;
  margin-inline: auto var(--margin-small);

}
header .notification .notificationIconCount{
  width: 15px;
  height: 15px;
  aspect-ratio: 1 / 1;
  background-color: red;
  position: absolute;
  font-size: var(--font-size-xsmall);
  top: 0;
  right: 0;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .heart{
  position: relative;
  isolation: isolate;
  cursor: pointer;

  height: var(--font-size-large);
  width: var(--font-size-large);
  aspect-ratio: 1/1;
  margin: auto;
}
header .heart .heartIconCount{
  width: var(--font-size-medium);
  height: var(--font-size-medium);
  aspect-ratio: 1 / 1;
  background-color: red;
  position: absolute;
  font-size: var(--font-size-small);
  top: 0;
  right: 0;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileContainer {
  position: fixed;
  top: 90px;
  right: var(--margin-large);
  width: 150px;
  height: 200px;
  color: var(--using3);
  background-color: var(--using1);
  cursor: pointer;
  z-index: 100;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--using2);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.profileContainer .profileElement {
  display: flex;
  align-items: center;
  padding: var(--padding-small);
  height:auto;
  text-align: left;
}
.profileContainer .profileElement:hover{
  text-decoration: underline;
}
.profileContainer .profileElement svg{
  margin-right: var(--margin-medium);
  color: var(--using4);
}
.notificationsContainer{
  position: fixed;
  top: 90px;
  right: calc(var(--margin-large)); /*-Width -padding*/
  width: 250px;
  height: auto;
  color: var(--using3);
  background-color: var(--using1);
  z-index: 101;
  display: flex;
  border: var(--border-width) solid var(--using2);
  border-radius: var(--border-radius);
  flex-direction: column;
}
.notificationElement{
  padding: var(--padding-small);
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notificationElement span{
  width: 100%;
  font-size: var(--font-size-small);
  padding-left: auto;

}

header svg{
  transition: all var(--animation-timing) ease-in-out;
  color:var(--using3);
  height:100%;
}
header .heart:hover , header .like:hover, header .profile:hover, header .notification:hover{
  animation: tambaleo var(--animation-timing) ease-in-out 1;
  cursor: pointer;
  transform: scale(1.2);
  /*Pendiente esto box-shadow: inset 0 0 5px black;*/
}

header .loginButton{
  padding-inline: var(--padding-small);
  background: var(--using1);
  color: var(--using4);
  outline: var(--border-width) solid var(--using4);
}
header .loginButton:hover{
  background: var(--using4);
  color: var(--using1);
}
@keyframes tambaleo {
  0% {
    transform: rotate(0deg) ;
    
  }
  33% {
    transform: rotate(15deg) scale(1.1);
  }
  66% {
    transform: rotate(-15deg) scale(1.2); /* Ajustado de -90deg a -45deg para mantener consistencia */
  }
  100% {
    transform: rotate(0deg) scale(1.2); /* Cambiado de 45deg a 0deg para completar el ciclo */
  }
}

header .clickear{
  display: none;
}
header .hamburger{
  height: 100% !important;
  color:var(--using2);
  transition: all var(--animation-timing) ease-in-out;
}
header .hamburger:hover{
  cursor: pointer;
  transform: scale(1.1);
}
header .hamburger svg{
  height: 100%;
}

header .extraInfoContainer{
  width:100vw;
  position: sticky;
  top:80px;
  left:0;
  height:auto;
  background: var(--using5);
  z-index: 100;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: start;
  gap:var(--padding-medium);
  color:var(--using3);
  padding-inline: 10vw;
  z-index: 2;
  border-bottom: var(--border-width) solid var(--using2);
}

header.extraInfoContainer div{
  padding-block: var(--padding-medium);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color:var(--using3);
  width:100%;
  
}
header.extraInfoContainer div p{
  width:100%;
  filter: opacity(0.7);
}
header .extraInfoContainer div h2{
  font-size: var(--font-size-large);
}
header .extraInfoContainer div p:hover{
  text-decoration:underline;
}

header .inhamburger{
  z-index: 10;
  display:none;
  height:0;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  animation: agrandar var(--animation-timing) 1 ease-in-out;
  animation-play-state: paused;
  position: sticky;
  top:80px;
  left:0;
  
}
@keyframes agrandar {
  0%{
    height:0px;
  }
  100%{
    height:calc(60vh + 7px);
  }

}
@keyframes reducir {
  0%{
    height:calc(60vh + 7px);
    
  }
  100%{
    height:0px;
  }

}
header .pestañas{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-medium);
  width:100vw;
  height:10vh;
  background: var(--using5);
  filter: brightness(0.9);
  color:var(--using1);
  border-bottom: var(--border-width) solid var(--using2);
}

header .pestañas:first-of-type{
  border-top: var(--border-width) solid var(--using2);
}

@media  only screen and (max-width:734px) {

  header .clickear{
    display: block;
  }

  header .desaparecer{
    display:none;
  }
  .header .headerDer{
    display: none;
  }
  header .headerDer.pestañas{
    display: block;
  }

}

/*-------------------------------------FIN DE ENCABEZADO-------------------------------------------*/
